@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
body {
  font-family: "Nunito", sans-serif;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 4fr 1fr;
  grid-template-areas:
    "nav home furniture"
    "nav service business";
  border: 2px solid black;
}
nav {
  grid-area: nav;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav .header {
  height: 67%;
}
h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 45px;
}
nav p {
  line-height: 1.2;
  font-size: 20px;
  font-weight: 600;
  margin-left: 8px;
  width: 60%;
  margin-bottom: 15px;
}
/* .menu ul{
    margin-bottom:150px;
} */
.menu li {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 8px;
}
.menu li:first-child {
  background-color: #939393;
}
.menu li:first-child,
.menu li:nth-child(2),
.menu li:nth-child(3),
.menu li:nth-child(4) {
  border-top: 1px solid black;
}
.menu li:nth-child(5) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.office-info {
  height: 30%;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
h4 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}
.home {
  grid-area: home;
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.home h1,
.service h1 {
  width: 45%;
  font-size: 40px;
  font-weight: 600;
  margin-left: 8px;
  margin-bottom: 15px;
}
.service h1 {
  width: 50%;
  font-size: 30px;
}
.home p {
  font-size: 13px;
  margin-left: 8px;
  margin-bottom: 10px;
}
.service {
  grid-area: service;
  border-right: 2px solid black;
}
.furniture {
  grid-area: furniture;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  grid-template-rows: 2fr 0.5fr 0.5fr 1fr;
}
.furniture div {
  background-size: cover;
  background-repeat: center;
  background-image: url("https://images.unsplash.com/photo-1611450351263-382ed261c13d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
}
.furniture div:first-child {
  grid-row: 1/-1;
}
.furniture div:nth-child(2) {
  grid-column: span 3;
}
.furniture div:nth-child(3) {
  grid-column: span 2;
  grid-row: span 2;
}
.furniture div:nth-child(6) {
  grid-column: span 1;
}
.furniture div:nth-child(7) {
  grid-column: span 2;
}
.business {
  grid-area: business;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  grid-template-rows: 1fr 1fr;
}
.business div {
  background-size: cover;
  background-repeat: center;
  background-image: url("https://images.unsplash.com/photo-1611450351263-382ed261c13d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
}
.business div:first-child {
  grid-row: 1/-1;
}
.business div:nth-child(2) {
  grid-row: span 1;
}
.business div:nth-child(3) {
  grid-row: span 1;
  grid-column: 2/3;
}
.business div:nth-child(4) {
  grid-row: 1/-1;
  grid-column: 3/4;
}
